/*
  [Table of contents]
  1 header css
  2 owl.carousel
  3 footer css
*/
/* Root css */
/* Root css close */
/* default css */
* {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  min-height: 100vh;
  flex-direction: column;
  color: var(--primary-color);
  font-family: var(--primary-font);
}

p,
ul,
ol {
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: var(--primary-color);
  /* -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; */
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-color);
  font-family: var(--primary-font);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: var(--primary-color);
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
  color: var(--primary-color-hover);
}

.dropdown-toggle::after {
  border: none;
  content: "\f107";
  vertical-align: unset;
  font-family: "Font Awesome 5 Pro";
}

/* section {
  padding-top: 60px;
  padding-bottom: 60px;
} */
.sec-head {
  /*text-align: center;*/
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 600;
}

.btn {
  color: #fff;
  margin: 0 auto;
  display: block;
  padding: 10px 25px;
  border-radius: 6px;
  background-color: var(--primary-color-hover);
}

.btn-cancel {
  margin: 0 auto;
  display: block;
  padding: 10px 25px;
  border-radius: 6px;
  text-align: center;
  background-color: #dc3545 !important;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

/* defalut css*/
/* header css */
header {
  width: 100%;
  background-color: var(--primary-bg-color);
}

.navbar .navbar-nav .nav-link {
  margin: 0 15px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s;
  color: var(--primary-color);
}

.navbar .navbar-nav .active>.nav-link {
  color: var(--primary-color-hover);
  font-weight: 500;
  border-bottom: 2px solid var(--primary-color-hover);
}

.navbar .nav-item:hover .nav-link {
  color: var(--primary-color-hover);
  transition: all 0.5s;
}

.navbar-nav .dropdown-menu {
  right: 0;
  left: auto;
  border: none;
  min-width: 200px;
  margin-top: 10px;
  box-shadow: 0 0 8px #0002;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
  background-color: var(--primary-color-hover);
  color: #fff;
}

.navbar-brand {
  display: block;
  max-width: 40px;
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav .dropdown-toggle {
  display: flex;
  margin: 0;
  align-items: center;
  padding: 5px 30px 5px 5px;
}

.navbar .navbar-nav .dropdown-toggle img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.dropdown-toggle::after {
  position: absolute;
  top: 7px;
  right: 10px;
  display: block;
  width: 10px;
  height: 10px;
}

.dropdown {
  border-radius: 60px;
  box-shadow: 0 0 8px #0004;
}

.navbar-nav {
  align-items: center;
}

.search-input {
  top: 0%;
  right: 0;
  left: auto;
  width: 100%;
  display: block;
  min-width: 280px;
  position: relative;
  border-radius: 10px;
  transition: all 0.5s;
  background-color: #fff;
  box-shadow: 0 0 22px #0002;
}

.navbar .navbar-nav .search .nav-link {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 40px;
  line-height: 50px;
  text-align: center;
  border: none;
  background-color: #fff;
}

.search {
  position: relative;
}

.search-input input {
  margin: 0;
  width: 100%;
  display: block;
  padding: 10px 16px;
  border-radius: 5px;
}

/* header css */
/* Banner css */
.banner-sec {
  padding: 0;
  height: 100vh;
}

.banner-sec .item {
  height: 100vh;
  position: relative;
}

.banner-sec .item .banner-contant {
  left: 100px;
  bottom: 60px;
  position: absolute;
}

.banner-contant h1 {
  color: #fff;
  font-size: 60px;
}

.banner-contant p {
  color: #fff;
  max-width: 700px;
}

.banner-sec .item img {
  filter: brightness(0.4);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  padding: 10px 15px;
}

.banner-carousel .owl-nav span,
.pro-ref-carousel .owl-nav span {
  width: 40px;
  height: 40px;
  color: #fff;
  display: block;
  font-size: 50px;
  line-height: 40px;
  border-radius: 100%;
  background-color: var(--primary-color-hover);
}

.banner-carousel .owl-nav,
.pro-ref-carousel .owl-nav {
  top: 50%;
  left: 50%;
  height: 0;
  display: flex;
  position: absolute;
  align-items: center;
  width: calc(100% - 50px);
  justify-content: space-between;
  transform: translate(-50%, -50%);
}

.banner-carousel .owl-dots,
.product-details-img .owl-dots {
  left: 50%;
  bottom: 10px;
  position: absolute;
  transform: translateX(-50%);
}

.banner-carousel .owl-dots .owl-dot,
.product-details-img .owl-dots .owl-dot {
  width: 6px;
  height: 6px;
  margin: 0 4px;
  border-radius: 50px;
  background-color: #fff6;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.banner-carousel .owl-dots .owl-dot.active,
.product-details-img .owl-dots .owl-dot.active {
  width: 30px;
  background-color: #fff;
}

/* Banner css */
/* Feature css */
.feature-box {
  margin: 18px 0px;
  overflow: hidden;
  max-height: 300px;
  position: relative;
  border-radius: 10px;
}

.feature-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.feature-contant {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.feature-contant h2 {
  color: #fff;
  margin-bottom: 0;
  white-space: nowrap;
}

/* Feature css */
/* Our Product css */
.pro-box {
  height: 100%;
  display: block;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* background-color: #fff; */
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.1);
  border: 1px solid #e6e6e6;
  transition: 0.2s linear;
}

.favourite [class*="col-"] {
  margin-bottom: 30px;
}

.pro-img {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.product-prev-sec.product-list-sec {
  padding-bottom: 20px;
  position: relative;
  /* top: -40px; */
}

.pro-img a {
  display: block;
  width: 100%;
  height: 100%;
}

.pro-img .i {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  line-height: 30px;
  border-radius: 6px;
  color: #fff;
  padding: 6px;
  /*background-color: rgba(255, 255, 255, 0.4);*/
  background-color: var(--primary-color-hover);
}

.pro-box p {
  line-height: 1.4;
  margin: 8px 0px;
  color: var(--primary-color-hover);
  font-size: 18px;
  font-weight: 500;
}

#sync2 .owl-stage {
  margin: 0 auto;
}

#sync2 {
  position: relative;
  margin: 0 auto 20px;
  max-width: calc(100% - 40px);
}

.product-prev-sec #sync2 .owl-nav {
  width: calc(100% + 20px);
}

.product-prev-sec .nav-pills {
  margin-bottom: 30px;
  justify-content: center;
}

.product-tab {
  display: flex;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 500;
  margin: 10px 7px;
  padding: 8px 14px;
  border-radius: 6px;
  align-items: center;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.current .product-tab {
  color: #000;
  border-color: var(--primary-color-hover);
  background-color: var(--primary-color-hover);
}

.product-prev-sec .nav-pills .nav-link img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 8px;
  border-radius: 3px;
}

.pro-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-prev-sec .tab-pane {
  text-align: center;
}

.product-prev-sec .owl-item .tab-pane {
  padding: 20px;
}

.product-prev-sec .btn-content {
  padding: 8px;
  width: 100%;
  margin: 5px 0px 0px !important;
  background: none;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.product-prev-sec .btn-content:hover {
  background-color: var(--active-menu);
}

.product-prev-sec .btn-content2 {
  display: inline-block;
}

.owl-carousel .owl-item .product-tab img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 5px;
}

/* Our Product css */
/* About Us css */
.about-box {
  padding: 12px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  border: 1px solid var(--primary-color-hover);
}

.about-img {
  display: flex;
  overflow: hidden;
  max-width: 600px;
  max-height: 350px;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.about-contant {
  padding-left: 40px;
  flex-basis: calc(100% - 600px);
}

.about-sec {
  padding-top: 0;
}

.about-contant p {
  font-weight: 400;
}

.product-prev-sec {
  padding-top: 20px;
}

/* About Us css */
/* Review css */
.review-profile {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
}

.review-carousel .item {
  text-align: center;
}

.review-carousel {
  max-width: 700px;
  margin: 60px auto 0;
}

.review-carousel h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0 10px;
}

.review-carousel p {
  color: #000;
  font-weight: 400;
  line-height: 1.5;
}

.review-carousel .owl-nav,
#sync2 .owl-nav {
  top: 50%;
  left: 50%;
  height: 0;
  width: 130%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  transform: translate(-50%, -50%);
}

.review-carousel .owl-nav span,
#sync2 .owl-nav span {
  font-size: 38px;
  line-height: 30px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: #fff;
  background-color: var(--primary-color-hover);
}

/* Review css */
/* Contact Us css */
body input,
body textarea {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 16px 20px;
  margin-bottom: 22px;
}

.contact-form {
  max-width: 650px;
  margin-left: auto;
  padding: 60px 50px;
  border-radius: 14px;
  background-color: rgb(253 63 50 / 50%)
}

body textarea {
  height: 140px;
  resize: none;
}

.contact-box {
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--primary-color-hover);
  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-radius: 10px;
  margin: 20px auto;
}

.contact-box i {
  background-color: var(--primary-color-hover);
  color: #fff;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
}

.contact-box p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

/* Contact Us css */
/* footer css */
/* footer {
  background-color: var(--primary-color-hover);
  padding-top: 50px;
  position: relative;
  z-index: 0;
  margin-top: auto;
}
.contact-from {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f4f4f8;
  z-index: 1;
  position: relative;
}
.footer-head {
  display: block;
  align-items: center;
  flex-basis: 33.33%;
  padding: 0;
  max-width: 33.33%;
}
.footer-logo {
  width: 120px;
  max-width: 120px;
  max-height: 100px;
  object-fit: contain;
}
.footer-head p {
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
  padding: 20px 0;
}
.footer-socialmedia {
  text-align: center;
  margin: 20px 0;
  flex-basis: 33.33%;
  max-width: 33.33%;
}
.footer-socialmedia a {
  margin: 0 10px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 46px;
  text-align: center;
  border-radius: 7px;
  font-size: 20px;
  color: var(--primary-color-hover);
}
.download-app-icon img {
  height: 100%;
}
.copy-right {
  font-size: 15px;
  color: #fff;
  padding: 8px 0;
  border-top: 1px solid #fff;
}
.download-app p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}
.download-app-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.download-app-icon {
  height: 40px;
  margin-left: 10px;
}
.download-app {
  text-align: right;
  flex-basis: 33.33%;
  max-width: 33.33%;
} */
/* footer css */
/* product page css */
.glyphicon {
  margin-right: 5px;
}

.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
  background: #428bca;
}

.item.list-group-item .list-group-image {
  margin-right: 10px;
}

.item.list-group-item .thumbnail {
  margin-bottom: 0px;
}

.item.list-group-item .caption {
  padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
  background: #eeeeee;
}

.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item img {
  float: left;
}

.item.list-group-item:after {
  clear: both;
}

.list-group-item-text {
  margin: 0 0 11px;
}

.cat-product .col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 50%;
  max-width: 50%;
}

.btn-wrap .btn {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 40px;
  display: block;
  border-radius: 0;
  box-shadow: none;
  line-height: 40px;
  position: relative;
  background-color: #fff;
  color: var(--primary-color-hover);
}

.btn-wrap {
  top: 0;
  right: 0;
  width: 150px;
  display: flex;
  overflow: hidden;
  margin-left: auto;
  border-radius: 6px;
  align-items: center;
  position: absolute;
  border: 1px solid var(--primary-color-hover);
}

.btn-wrap .btn input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.btn-wrap .btn#grid {
  border-left: 1px solid var(--primary-color-hover);
}

.btn-wrap .btn.active {
  color: #fff;
  background-color: var(--primary-color-hover);
}

.cart-pro-head {
  position: relative;
}

.cat-aside {
  position: sticky;
  top: 0;
  z-index: 998;
  height: 100%;
  overflow: auto;
}

.product-sec2 .product-display .side-sticky .card-header h4 {
  font-size: 24px;
  color: var(--primary-color-hover);
  padding: 0px;
  line-height: 26px;
  font-weight: 400;
}

.page-item.active .page-link {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: white !important;
}

.page-item.disabled .page-link {
  color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  opacity: 0.5;
}

.page-link:hover {
  background-color: transparent;
}

.page-link:focus {
  box-shadow: none;
}

.cat-product .col-12 .pro-box {
  display: flex;
  flex-direction: row;
}

.cat-product .col-12 .pro-img {
  margin-bottom: 0;
  max-width: 200px;
}

.cat-product .col-12 .product-details-wrap {
  flex-basis: calc(100% - 200px);
  max-width: calc(100% - 200px);
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* product page css */
/* product Details page css */
.product-details-sec .sec-head {
  text-align: left;
  margin: 30px 0 10px;
}

.product-details-img {
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 12px #0002;
}

.product-details-img .item {
  height: 400px;
}

.product-details-sec {
  background-color: var(--primary-color-hover);
  color: #fff;
  padding: 20px 0 20px 20px;
}

.product-details-sec small {
  color: #0009;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.pro-details-name-wrap i {
  color: var(--primary-color-hover);
  font-size: 28px;
}

.product-details-sec .pricing {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
  text-align: right;
}

.product-details-sec .open-time {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

.pro-ref-carousel .owl-item {
  margin: 20px 0;
}

.product-details-sec p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

.pro-ref-carousel .owl-item .item {
  margin-left: 10px;
}

.product-details-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-rev-wrap {
  display: flex;
}

.product-rev-wrap .pro-sec {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 998;
  height: 100%;
  overflow: auto;
}

.cat-aside-theme1 {
  position: sticky;
  top: 0px;
  z-index: 998;
  height: 100%;
}

.cat-check {
  display: flex;
  position: relative;
  margin: 20px 10px 20px 0;
  padding: 10px 10px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid var(--btn-color);
  min-width: fit-content;
  font-size: 15px;
  font-weight: 500;
}

.cat-left-margin {
  margin: 5px 10px 15px 0;
}

.cat-right-margin {
  margin: 5px 0px 15px 10px;
}

.cat-check.active {
  border-color: var(--btn-color);
  background-color: var(--active-menu);
}

.cat-aside h3 {
  margin: 19px 0;
  font-size: 26px;
}

.cat-check img {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 10px;
}

.cat-check p {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.product-details {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}

.product-details h4 {
  margin-bottom: 0;
  transition: all 0.5s;
  /* max-width: calc(100% - 60px); */
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.product-details-inner h4 {
  margin-bottom: 0;
  transition: all 0.5s;
  font-size: 19px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.product-details a {
  display: block;
}

.product-details a:hover h4 {
  color: var(--primary-color-hover);
}

.product-details .pro-pricing {
  font-size: 16px;
  padding-right: 0;
  text-align: right;
  color: var(--primary-color-hover);
  font-weight: 600;
}

.product-details p {
  margin-top: 0;
  padding-right: 6px;
  margin-bottom: 0;
  font-size: 13px;
  max-width: 300px;
  color: #818181;
}

.product-details .btn {
  margin-right: 0;
  padding: 7px 16px;
  height: fit-content;
}

.pro-details-display {
  display: flex;
  flex-direction: column;
}

.extra-food-wrap {
  height: 100%;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}

.extra-food li {
  position: relative;
  margin-bottom: 16px;
}

.extra-food li input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin-bottom: 0;
}

.extra-food li p {
  padding-left: 36px;
  position: relative;
}

.extra-food li p::before {
  content: "";
  top: 6px;
  left: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
  border: 1px solid var(--primary-color-hover);
}

.extra-food {
  margin-right: 60px;
}

.extra-food li p::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 4px;
  width: 12px;
  height: 12px;
  opacity: 0;
  border-radius: 3px;
  transition: all 0.5s;
  background-color: var(--primary-color-hover);
}

.extra-food li input:checked+p::after {
  opacity: 1;
}

.pro-details-name-wrap {
  display: flex;
  margin-bottom: 2px;
  align-items: center;
  justify-content: space-between;
}

.pro-details-name-wrap .sec-head {
  margin: 0;
  padding-right: 25px;
}

.extra-food h3 {
  font-size: 20px;
  margin-bottom: 14px;
}

.pro-details-add-wrap {
  margin-top: auto;
  margin-left: auto;
  text-align: right;
}

.product-details-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* product Details page css */
/* Cart css */
.cart-box {
  padding: 8px;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 8px #0004;
}

.cart-pro-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
}

.cart-pro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-pro-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-box textarea {
  height: 80px;
  margin-bottom: 0;
  padding: 8px 16px;
  background-color: #0001;
}

.pro-add {
  display: flex;
  align-items: center;
}

.pro-add input {
  margin: 0;
  padding: 0;
  width: 50px;
  text-align: center;
}

.cart-pro-details {
  padding-left: 25px;
  padding-right: 10px;
  flex-basis: calc(100% - 100px);
  max-width: calc(100% - 100px);
}

.cart-pro-name {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
}

.pro-add span {
  text-align: center;
  min-width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  font-size: 26px;
  color: var(--primary-color-hover);
  border-radius: 100%;
  border: 1px solid var(--primary-color-hover);
}

.cart-pricing {
  font-size: 25px;
  font-weight: 500;
}

.cart-pro-edit i {
  font-size: 20px;
  color: red;
}

.cart-summary {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--primary-color-hover);
}

.pro-total,
.cart-total {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  padding: 5px 0 6px;
  margin-bottom: 0;
  border-top: 1px dashed #ccc;
  justify-content: space-between;
}

.pro-total span,
.cart-total span {
  font-weight: 400;
}

.no-fo-pro {
  font-size: 20px;
  font-weight: 600;
}

.order-success-img {
  display: flex;
  flex-direction: column;
}

.cart-total {
  font-size: 17px;
  color: #17b31b;
  display: flex;
  justify-content: space-between;
  border-top: 2px dashed #000;
  margin: 0px;
  padding: 7px 0px;
}

.promo-wrap input {
  margin-bottom: 0;
  padding: 10px 20px;
  border: none;
}

.promo-wrap .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.promo-code p {
  font-size: 15px;
  cursor: pointer;
  margin-top: 6px;
  font-weight: 600;
  user-select: none;
}

.promo-box {
  position: relative;
  padding: 10px 10px 5px;
  border-top: 1px solid #000;
}

.promo-modal .close {
  width: 40px;
  height: 40px;
  opacity: 1;
  font-weight: 300;
  margin-left: auto;
}

.promo-modal .close span {
  line-height: 0.5;
  font-size: 50px;
}

.promo-box .btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 14px;
  font-size: 14px;
}

.promo-box p {
  line-height: 1.4;
  margin-bottom: 0;
  font-weight: 400;
}

.promo-box .promo-title {
  font-size: 20px;
}

.promo-code-here span {
  font-weight: 700;
  text-decoration: underline;
}

.promo-box .promo-code-here {
  font-size: 17px;
}

.promo-box small {
  color: #717171;
  font-weight: 300;
}

.promo-modal .modal-content {
  border-radius: 10px;
  border: none;
}

body .promo-modal.modal {
  background-color: rgb(195 172 171 / 0);
}

.modal-head {
  display: flex;
  padding: 10px 10px 0 20px;
  align-items: center;
}

.modal-head h4 {
  margin-bottom: 0;
}

.promo-modal .modal-body {
  padding-top: 8px;
}

.cart-summary textarea {
  margin-bottom: 0;
  background-color: #0001;
}

.cart-summary input {
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 38px rgb(0 0 0 / 0.1);
}

/* Cart css */
/* Sign Up css */
.signup-sec {
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.signup-sec .bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(0.5);
}

.signup-logo a {
  z-index: 9;
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 92px 30px;
}

.signup-sec form {
  padding: 50px 40px;
  max-width: 650px;
  margin: 0 auto;
  z-index: 4;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 10px;
  border: 2px solid #fff;
  justify-content: space-between;
  backdrop-filter: blur(7px);
}

.signup-sec form .w-50 {
  width: calc(50% - 11px) !important;
}

.signup-sec form .btn {
  width: 100%;
}

.signup-sec form input {
  padding: 12px 20px;
  border-radius: 6px;
}

.signup-sec .container {
  height: 100vh;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* .logo {
  width: 150px;
  max-width: 150px;
  max-height: 60px;
  object-fit: contain;
} */
.signup-logo p {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.signup-logo img {
  width: 100%;
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
  margin-right: 30px;
}

.navbar .navbar-nav .nav-link.sign-btn {
  padding: 5px 16px;
  color: #fff;
}

.already {
  width: 100%;
  display: block;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.already a {
  color: #fff;
}

/* Sign Up css */
/* History css */
.order-box {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  align-items: flex-start;
  box-shadow: 0 0 16px rgb(0 0 0 / 0.1);
}

.order-box-no {
  flex-basis: 75%;
  max-width: 75%;
}

.order-box-price {
  flex-basis: 25%;
  max-width: 25%;
  text-align: right;
}

.order-box-no h4 {
  color: #0006;
  font-size: 16px;
  margin-bottom: 2px;
}

.order-box-no h4 span {
  color: #000;
  font-size: 18px;
}

.order-box-no .order-qty {
  font-weight: 400;
  margin-bottom: 0;
}

.order-box-no .order-qty span {
  font-weight: 500;
  font-size: 22px;
}

.order-box .order-status {
  font-size: 16px;
  font-weight: 400;
}

.order-box .order-status span {
  color: var(--primary-color-hover);
  font-weight: 600;
}

.order-box-price h5 {
  color: var(--primary-color-hover);
}

.order-box-price p {
  font-weight: 500;
}

/* History css */
/* Our App css */
.our-app .sec-head {
  text-align: left;
}

.our-app .our-app-icon {
  max-width: 180px;
  display: block;
  margin-left: auto;
  margin: 15px 0 15px auto;
}

.our-app .our-app-icon img {
  width: 100%;
  height: 100%;
}

.our-app {
  background-color: rgb(253 63 50 / 50%)
}

.our-app p {
  font-weight: 400;
}

/* Our App css */
/* Order Details css */
.order-details-img {
  height: 100px;
  overflow: hidden;
  max-width: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.order-details-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wallet-details-img {
  overflow: hidden;
  max-width: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.wallet-details-img img {
  object-fit: cover;
}

.order-details-name h3 {
  margin-bottom: 10px;
  transition: all 0.5s;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
}

.order-payment-summary,
.order-add {
  padding: 10px 15px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  margin-bottom: 15px;
}

.order-payment-summary p {
  display: flex;
  font-weight: 400;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}

.order-payment-summary h3 {
  color: #000;
  padding: 0px 0px 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  border-bottom: 1px solid rgb(0 0 0 / 13%);
}

.order-payment-summary .order-details-total {
  font-size: 17px;
  color: #17b31b;
  display: flex;
  justify-content: space-between;
  border-top: 2px dashed #000;
  margin: 10px 0px 0px;
  padding: 7px 0px 0px;
}

.order-add p {
  /* border-radius: 7px; */
  padding: 0px 0px 6px;
  /* background-color: rgb(204 204 204 / 0.3); */
  margin-bottom: 5px;
  border-bottom: 1px solid;
}

.order-add p:last-child {
  border-bottom: 0px;
}

.order-add span {
  font-weight: 400;
  font-size: 16px;
}

.order-add {
  padding: 10px 10px;
}

.order-details-box {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.order-details-box .pro-qty {
  font-weight: 600;
  margin-bottom: 4px;
}

.order-details-name .cart-pro-note {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 14px;
  background-color: #0001;
  border-radius: 10px;
  margin-bottom: 0;
}

.order-details-box .pro-total-price {
  line-height: 1.4;
  margin: 8px 0px;
  color: var(--primary-color-hover);
  font-size: 18px;
  font-weight: 500;
}

.order-add h6 {
  color: #000;
  padding: 0px 0px 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  border-bottom: 1px solid rgb(0 0 0 / 13%);
}

.order-details-name a {
  display: block;
  color: #000;
}

.order-details-name a:hover h3 {
  color: var(--primary-color-hover);
}

footer .container {
  align-items: center;
}

.show-menu {
  overflow: hidden;
}

/* Order Details css */
.order-details .sec-head+p {
  color: #000000ad;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.order-details .sec-head {
  margin-bottom: 5px;
  font-size: 24px;
  color: var(--primary-color-hover);
  padding: 10px 0px;
  margin-bottom: 15px;
  line-height: 26px;
  font-weight: 400;
}

.ingredients-box {
  height: 180px;
  margin: 16px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.2);
}

.ingredients-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fancybox-infobar {
  display: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.value-button {
  cursor: pointer;
}

#myBtn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 45px;
  height: 45px;
  z-index: 9999;
  line-height: 50px;
  font-size: 26px;
  text-align: center;
  border-radius: 10px;
  color: var(--primary-color-hover);
  cursor: pointer;
  transition: all 0.5s;
  background-color: #fff;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.2);
}

#success-msg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 0 !important;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 0;
  padding: 6px 10px;
  font-weight: 500;
  color: #155724;
  background-color: #d4edda;
  border-color: #d4edda;
}

#error-msg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 0 !important;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 0;
  padding: 6px 10px;
  font-weight: 500;
  color: red;
  background-color: #ffbaba;
  border-color: #ffbaba;
}

.alert-danger {
  color: red;
  background-color: #ffbaba;
}

.cart-btn span {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 19px;
  height: 19px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  line-height: 19px;
  border-radius: 100%;
  background-color: red;
}

.cart-btn {
  position: relative;
}

.search-product {
  padding: 0 !important;
  flex-basis: 100% !important;
  max-width: 100% !important;
}

.pro-details-name-wrap i {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  line-height: 30px;
  border-radius: 6px;
  color: #fff;
  padding: 6px;
  background-color: var(--primary-color-hover);
}

.pro-details-display textarea {
  margin-bottom: 0;
  background-color: #0001;
  margin-top: 20px;
}

.delivery-btn-wrap {
  display: flex;
  align-items: center;
}

.delivery-btn-wrap .btn {
  flex-basis: calc(50% - 14px);
  max-width: calc(50% - 14px);
}

.cart-addons {
  line-height: 1.6;
  padding: 4px 20px;
  align-items: center;
  border: 1px solid var(--primary-color-hover);
  margin: 10px 15px;
  text-align: center;
}

.cart-addons-wrap {
  padding: 2px 0;
  border-radius: 6px;
  display: flex;
}

.cart-delivery-type-box {
  cursor: pointer;
  text-align: center;
  padding: 14px 20px;
  border-radius: 8px;
  user-select: none;
  transition: all 0.5s;
  background-color: #fff;
  box-shadow: 0 0 38px rgb(0 0 0 / 0.1);
}

.cart-delivery-type-box img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  object-fit: contain;
}

.cart-summary .promo-wrap {
  margin-bottom: 20px;
}

.cart-delivery-type-box p {
  font-weight: 600;
}

.cart-delivery-type label input {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  opacity: 0;
  z-index: -1;
}

label input:checked+.cart-delivery-type-box {
  background-color: var(--primary-color-hover);
  color: #fff;
}

#preloader {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999999;
  background: #fff;
}

.loader {
  position: absolute;
  width: 5rem;
  height: 10rem;
  top: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.cart-button {
  position: fixed;
  bottom: 50%;
  right: 24px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  border: 1px solid var(--primary-color-hover);
  border-radius: 10px;
  color: var(--primary-bg-color-hover) !important;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #fff;
  box-shadow: 0 0 22px rgb(0 0 0 / 20%);
  z-index: 99;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: var(--primary-color-hover);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.container {
  width: 100%;
}

.progressbar {
  counter-reset: step;
}

.progressbar li {
  list-style: none;
  display: inline-block;
  width: 24.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: #17b31b;
}

.progressbar li.active:before {
  border-color: #17b31b;
}

.progressbar li.active+li:after {
  background-color: #17b31b;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 70px;
  color: var(--primary-color-hover);
  cursor: pointer;
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

.view-order-btn {
  left: 50%;
  bottom: 19px;
  color: #fff;
  z-index: 9999;
  position: fixed;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  border-radius: 6px;
  padding: 10px 40px;
  border: 3px solid #fff;
  background-color: var(--primary-color-hover);
  transform: translateX(-50%);
  box-shadow: 0 0 4px var(--primary-color-hover);
}

.view-order-btn:hover {
  color: #fff;
}

.accept-check {
  position: relative;
  margin-bottom: 20px;
}

.accept-check p {
  color: #fff;
  cursor: pointer;
  position: relative;
  padding-left: 37px;
  user-select: none;
  font-weight: 400;
}

.signup-sec form .accept-check input {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: auto;
  z-index: 0;
}

.accept-check p::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.accept-check input:checked+p::before {
  background-color: #fff;
}

.already-p a {
  color: #fff;
}

.accept-check p::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 9px;
  width: 7px;
  height: 14px;
  transition: all 0.5s;
  border: 3px solid transparent;
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
}

.accept-check input:checked+p::after {
  border-color: #fe734b;
}

.js-cookie-consent {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  z-index: 9999;
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: #fff;
  border: solid 2px #fff;
}

.js-cookie-consent-agree {
  background-color: white;
  color: black;
  border: 2px solid #ffffff;
}

.js-cookie-consent-agree:hover {
  background-color: var(--primary-color-hover);
  color: white;
  border: 2px solid #ffffff;
}

.tooltip-refer {
  position: relative;
  display: inline-block;
}

.tooltip-refer .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-refer .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-refer:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#card2-oldprice {
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  text-align: right;
  color: grey;
  margin-left: 10px;
  text-decoration: line-through;
}

.card2-oldprice-show {
  font-stretch: normal;
  font-style: normal;
  text-align: right;
  color: grey;
  margin-left: 10px;
  text-decoration: line-through;
}

.product-details-sec .product-price {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
  text-align: right;
  color: var(--primary-color-hover);
}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
}

.ribbon {
  font: bold 12px sans-serif;
  color: #333;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 7px 0;
  top: 15px;
  left: -30px;
  width: 120px;
  background-color: #ff0000;
  color: #fff;
}

.item-list {
  position: absolute;
  top: 100%;
  width: 100%;
}

.product-details-sec .pricing {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
  text-align: right;
  color: var(--primary-color-hover);
}

.custom-size .custom-control-label {
  min-width: 3rem;
  padding: 8px !important;
  text-align: center;
  border: 1px solid #dce1f1;
  border-radius: 3px;
  font-weight: 400;
}

.custom-color .custom-control-label {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0 !important;
  text-align: center;
  border: 2px solid #ffffff;
  background: #ffffff;
  box-shadow: 0px 0px 0px 2px #e6e9f3;
  -webkit-box-shadow: 0px 0px 0px 2px #e6e9f3;
  border-radius: 50%;
  font-size: 0;
}

.single_filter_card .custom-color .custom-control-label {
  border-radius: 0.2rem;
}

.custom-size .custom-control-label:before,
.custom-size .custom-control-label:after,
.custom-color .custom-control-label:before,
.custom-color .custom-control-label:after {
  display: none;
}

.custom-varient {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 0.5rem;
}

.custom-varient .custom-control-input:checked~.custom-control-label {
  color: #2D3954;
  border-color: #2D3954;
}

.woo_pr_varient>h6 {
  color: #647b9c;
}

.woo_pr_varient>h6 span {
  color: #2D3954;
}

.custom-varient.custom-color .custom-control-input:checked~.custom-control-label {
  color: #2D3954;
  border-color: #ffffff;
  box-shadow: 0px 0px 0px 2px #6b7a9c;
  -webkit-box-shadow: 0px 0px 0px 2px #6b7a9c;
}

.flex_inline_center {
  display: flex;
  align-items: center;
}

.get-quote {
  border: 2px solid var(--primary-color-hover);
  padding: 40px;
  border-radius: 3%;
}

.sec-info {
  margin: 15px 0 10px;
}

ul {
  list-style-type: none;
}

.cart-button {
  position: fixed;
  bottom: 5%;
  right: 2%;
  width: 60px;
  height: 60px;
  line-height: 64px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  border: none;
  margin: 0 auto;
  z-index: 100;
  transition: .4s;
  font-weight: 500;
  box-shadow: 0 0 0 5px #000;
  animation: checkAnim 2s infinite;
  color: #17b31b !important;
}

@keyframes checkAnim {

  0%,
  100% {
    box-shadow: 0px 0px 10px 0px rgb(23 179 27 / 47%);
  }

  50% {
    box-shadow: 0px 0px 15px 0px rgb(23 179 27 / 96%);
  }
}

.cart-button-rtl {
  position: fixed;
  bottom: 5%;
  left: 2%;
  width: 60px;
  height: 60px;
  line-height: 64px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  border: none;
  margin: 0 auto;
  z-index: 9999;
  transition: .4s;
  font-weight: 500;
  box-shadow: 0 0 0 5px #000;
  animation: checkAnim 2s infinite;
  color: #17b31b !important;
  background-color: #fff;
}

.cart-button {
  position: fixed;
  bottom: 5%;
  right: 2%;
  width: 60px;
  height: 60px;
  line-height: 64px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  border: none;
  margin: 0 auto;
  z-index: 9999;
  transition: .4s;
  font-weight: 500;
  box-shadow: 0 0 0 5px #000;
  animation: checkAnim 2s infinite;
  color: #17b31b !important;
  background-color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.extra-food-rtl li {
  position: relative;
  margin-bottom: 16px;
}

.extra-food-rtl li input {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin-bottom: 0;
}

.extra-food-rtl li p {
  padding-left: 0;
  padding-right: 36px;
  position: relative;
}

.extra-food-rtl li p::before {
  content: "";
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
  border: 1px solid var(--primary-color-hover);
}

.extra-food-rtl li p::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  width: 12px;
  height: 12px;
  opacity: 0;
  border-radius: 3px;
  transition: all 0.5s;
  background-color: var(--primary-color-hover);
}

.extra-food-rtl li input[type=checkbox]:checked+p::after {
  opacity: 1;
}

.flex-inherit {
  flex-direction: inherit;
}

.progressbar-rtl {
  counter-reset: step;
}

.progressbar-rtl li {
  list-style: none;
  display: inline-block;
  width: 24.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.progressbar-rtl li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}

.progressbar-rtl li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  right: -50%;
  z-index: -1;
}

.progressbar-rtl li:first-child:after {
  content: none;
}

.progressbar-rtl li.active {
  color: #17b31b;
}

.progressbar-rtl li.active:before {
  border-color: #17b31b;
}

.progressbar-rtl li.active+li:after {
  background-color: #17b31b;
}

/* Theme 2 */
.justify-items-center {
  justify-items: center !important;
}

.d-grid {
  display: grid;
}

.card-font {
  font-size: 16px;
}

span {
  cursor: pointer;
}

.number {
  border: 1px solid #d4d5d9;
  display: flex;
  height: 35px;
  border-radius: 0.25rem;
}

.number input {
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  background: none;
  margin: 0 !important;
  padding: 5px 0px 0pc 0px;
}

.background-none {
  background: none;
}

.check-btn button {
  width: 100%;
}

.check-btn .btn {
  padding: 8px;
  width: 100%;
  margin: 5px 0px 0px !important;
  background: none;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.check-btn .btn:hover {
  background-color: var(--active-menu);
}

.disply-inline {
  display: inline-block;
}

.card-header {
  font-size: 18px;
}

.card,
.card-header,
.card-body {
  border: none;
}

.card .card-header {
  background: #fff;
}

.list-font {
  font-size: 13px;
  color: var(--primary-color-hover);
  display: flex;
}

.list-font li a {
  color: var(--primary-color-hover);
}

.recipe-card .pro-value {
  color: var(--primary-color-hover);
  margin: 0px 0 7px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}

.recipe-card .pro-org-value {
  font-size: 13px;
  margin: 0px 7px 7px;
  text-decoration: line-through;
  color: #ff0000 !important;
}

.recipe-card .card-pro-image {
  object-fit: contain;
  margin: 0 !important;
  /* height: 140px; */
  border-radius: 10px;
  /* width: 100%; */
}

.modal-btn {
  padding: 8px;
  width: 100%;
  margin: 5px 0px 0px !important;
  background: none;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.modal-btn:hover {
  background-color: var(--active-menu);
}

.justify-items-end {
  justify-items: end !important;
}

.number button {
  background: none;
  border: none;
  color: var(--success);
  padding: 0 0.25rem;
  font-size: larger;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 0;
}

::-webkit-scrollbar {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: none;
}

/* 
.pro-sec {
  position: sticky;
  height: calc(70px - 0px);
  top: 0px;
  z-index: 10;
  background-color: #fff;
  padding: 10px;
} */
.pro-sec .shopping-cart {
  width: 100%;
  height: 150px;
  object-fit: contain;
  opacity: 0.1;
}

.pro-sec .shopping-cart-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 25px;
  text-align: center;
}

.pro-fix {
  position: sticky;
  height: calc(80px - 0px);
  top: 0px;
  z-index: 2;
  background-color: #f7f7f7;
  padding: 10px;
}

.primary-outline {
  color: #6c757d;
  border: 1px solid var(--primary-color-hover);
  padding: 4px;
  font-weight: 400;
}

.width-50 {
  width: 50px;
}

.content-right-padding {
  padding-left: 0;
  padding-right: 20px;
}

.content-left-padding {
  padding-left: 20px;
  padding-right: 0;
}

.recipe-card .box-border .pro-card-body {
  border: 1px solid #dedcdc;
  border-radius: 10px;
}

.pro-card-title {
  margin-bottom: 4px !important;
  transition: all 0.5s;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
}

.pro-card-body .card-pro-dec {
  font-size: 15px !important;
  margin: 0 0 8px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 400;
}

.cart-card-title {
  transition: all 0.5s;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cart-total-price {
  color: var(--primary-color-hover);
  margin: 0px 0 7px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}

/* Theme 3 */
.nav-cat-check {
  margin: 10px 20px 10px 0;
  border-radius: 6px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid var(--btn-color);
  color: #000;
  font-size: 15px;
  font-weight: 500;
  min-width: max-content;
  overflow: hidden;
}

.nav-cat-check.active {
  border-color: var(--btn-color);
  background-color: var(--active-menu);
}

.navbarnav .nav-link:focus,
.nav-link:hover {
  border-color: var(--btn-color);
  background-color: var(--active-menu);
}

.sticky-top {
  position: sticky;
  top: 0px;
  z-index: 999;
  margin-top: 50px;
  left: 0;
  transition: all 0.3s ease 0s;
  background: #fff;
}

.sticky-top .navbarnav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-top .navbarnav .menu-nav {
  display: flex;
  overflow: auto;
  margin-bottom: 0;
  padding: 0;
}

.sticky-top .navbarnav .menu-nav .nav-item {
  display: contents;
}

.sec-margin {
  margin: 0px 0px 0px 20px;
}

.rtl-sec-margin {
  margin: 0px 20px 0px 0px;
}

.pro-card {
  position: relative;
  margin: 0 0 20px;
  padding: 15px 10px;
  background: #fff;
  border: 1px solid #ededed;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 10px;
}

.pro-title {
  margin-bottom: 4px !important;
  transition: all 0.5s;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
}

.qty-title h5 {
  font-size: 16px;
}

.pro-modal .pro-side {
  padding-left: 0 !important;
}

.pro-heading {
  font-size: 24px;
  color: var(--primary-color-hover);
  padding: 10px 0px;
  margin-bottom: 15px;
  line-height: 26px;
  font-weight: 400;
}

.product-sec2 .product-display .cat-product .card-header h4 {
  font-size: 24px;
  color: var(--primary-color-hover);
  padding: 0px;
  margin-bottom: 5px;
  line-height: 26px;
  font-weight: 400;
}

.pro-text {
  padding-right: 0;
  color: var(--primary-color-hover);
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}

.hide-cart:hover {
  background-color: var(--active-menu);
}

.hide-cart-btn {
  position: relative;
  text-align: center;
  transition: all 0.2s ease-in-out 0s;
  padding: 5px 20px !important;
  background: none;
  border: 1px solid var(--btn-color);
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.theme-two-sec {
  padding-bottom: 50px;
}

.hide-cart-btn:hover {
  background-color: var(--active-menu);
}

.pro-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1);
  transition: all 0.5s ease-in-out 0s;
  border-radius: 10px;
}

.pro-card:hover.pro-card img {
  transform: scale(0.9);
  transition: all 0.5s ease-in-out 0s;
}

/* Theme 4 */
.side-sticky {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 998;
  height: 100%;
  overflow: auto;
}

.product-display {
  display: flex;
}

.side-cat-check {
  position: relative;
  margin: 5px 10px 10px 0;
  padding: 10px 10px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid var(--btn-color);
  min-width: fit-content;
  font-size: 15px;
  font-weight: 500;
}

.product-sec2 .product-display .side-sticky .side-menu-list {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 998;
  height: 100%;
  overflow: auto;
}

.rtl-side-cat-check {
  position: relative;
  margin: 20px 0 10px 10px;
  padding: 10px 10px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid var(--btn-color);
  min-width: fit-content;
  font-size: 15px;
  font-weight: 500;
}

.rtl-side-cat-check.active {
  border-color: var(--btn-color);
  background-color: var(--active-menu);
}

.rtl-side-cat-check:hover {
  border-color: var(--btn-color);
  background-color: var(--active-menu);
}

.side-cat-check.active {
  border-color: var(--btn-color);
  background-color: var(--active-menu);
}

.side-cat-check:hover {
  border-color: var(--btn-color);
  background-color: var(--active-menu);
}

.cat-search .cat-search-btn {
  border-color: var(--btn-color);
  background-color: var(--active-menu);
  border-radius: 0%;
  border: none;
}

.pro-body {
  padding: 1.25rem 1.25rem 0.3rem;
}

.product-box {
  display: flex;
  justify-content: space-between;
}

.product-img {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  overflow: hidden;
}

.product-img img {
  height: 100px;
  object-fit: cover;
}

.content-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 8px;
}

.content-side .pro-pricing {
  color: var(--primary-color-hover);
  font-size: 18px;
  font-weight: 600;
  margin: 0px 2px 0px;
}

.product-prev-sec .product-rev-wrap .cat-aside .cart-aside .card .card-body {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 998;
  height: 100%;
  overflow: auto;
}

.product-prev-sec .product-rev-wrap .cat-aside .responsiv-cat-aside {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 998;
  height: 100%;
  overflow: auto;
}

.product-prev-sec .product-rev-wrap .pro-sec .cart-product-list {
  max-height: calc(100vh - 84px);
  height: 100%;
  overflow: auto;
  z-index: 2;
  position: sticky;
}

.product-prev-sec .product-rev-wrap .pro-sec .cart-product-list .card-header {
  top: 0px;
  position: sticky;
  background-color: #fff;
  margin-bottom: 32px;
}

.content-side .pro-org-value {
  font-size: 16px;
  margin-left: 7px;
  text-decoration: line-through;
  font-weight: 400;
}

.content-side .card-pro-dec {
  font-size: 13px;
  margin: 0;
}

.reponsive-flex {
  display: flex;
  justify-content: space-between;
}

.content-side .btn-content {
  margin: 10px 0px 0px !important;
  background: none;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.content-side .btn-content:hover {
  background-color: var(--active-menu);
}

.extra-title {
  font-size: 17px;
  color: var(--primary-color-hover)
}

.content-side h4 {
  margin-bottom: 4px !important;
  transition: all 0.5s;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-card-box {
  border: 1px solid #d7d7d7;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s linear;
}

/* All Theme header */
/* main-header */
.main-header {
  background-color: #fff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.main-header a {
  color: #252525;
  padding-right: 11px;
}

.header-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-icon {
  display: flex;
}

.header-contact {
  display: flex;
  align-items: center;
}

.responsive-main-header {
  display: none;
}

/* banner */
.banner-bg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.banner-text {
  text-align: center;
  color: #fff;
  z-index: 1;
  position: relative;
  margin-bottom: 25px;
  font-size: 24px;
}

.cat-search {
  margin: 0 auto;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
}

.business-title {
  text-align: center;
  margin: 0;
}

.working-hours ul li {
  font-size: 16px;
}

.modal-logo-image {
  max-width: 150px;
  max-height: 60px;
  object-fit: contain;
  border-radius: 8px;
}

.logo-sec {
  position: relative;
  top: -45px;
}

.logo-image {
  width: 110px;
}

.logo img {
  background: #fff;
  border-radius: 8px;
  padding: 4px;
}

.logo-sec .logo {
  display: flex;
  align-items: flex-end;
}

.dropdown-lang {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out 0s;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
  transform: translateY(2px);
  transition: all 0.3s ease-in-out 0s;
}

.dropdown-img {
  display: flex;
}

.dropdown-img img {
  object-fit: contain;
  margin: 0px 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-lang:hover .dropdown-content {
  visibility: visible;
  transform: translateY(8px);
}

.social-icon i {
  padding-right: 12px;
}

.product-main-sec2 {
  padding-top: 50px;
}

.open-btn {
  border: none;
  padding: 5px 10px !important;
  border-radius: 5px;
  background-color: var(--primary-color-hover);
  text-align: center;
  display: flex;
}

.qty-input2 {
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  flex-wrap: nowrap;
}

.adone-hover:hover {
  border-bottom: 1px solid;
}

.qty-input2 input {
  border-radius: 0% !important;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background: var(--active-menu);
  color: #000;
  line-height: 27px;
  border: 0 !important;
  width: 56.4% !important;
}

.cart-qty input {
  width: 60% !important;
}

.change-qty:hover {
  background: var(--active-menu) !important;
}

.qty-input2 .change-qty {
  margin: 0;
  padding: 8px;
  border-radius: 0px;
  font-size: 9px;
  line-height: 27px;
  background: none;
  font-weight: 500;
  color: var(--btn-color) !important;
  border: 0;
}

.cart-padding {
  padding: 0px 10px !important;
}

.total-price {
  font-weight: 400;
}

.pro-modal .sp-wrap {
  display: flex;
  justify-content: center;
}

.search-bar .search-btn {
  background: var(--primary-color-hover);
  color: #fff;
  border-radius: 0%;
  border: none;
  padding: 13px;
}

.modal .modal-dialog .modal-content .modal-body .business-sec .working-hours ul li p {
  margin: 0;
}

.modal .modal-dialog .modal-content .modal-body .business-sec .working-hours ul li {
  padding: 5px;
}

/* All Theme Footer */
.footer-sec2 {
  background: var(--primary-color-hover);
  padding-top: 50px;
  position: relative;
  z-index: 0;
}

.footer-sec2 p {
  font-size: 15px;
  color: #fff !important;
}

.footer-sec2 .footer-content ul li {
  background: none;
  padding: 0;
  font-size: 20px;
}

.footer-logo-image2 {
  width: 130px;
  margin-bottom: 15px;
}

.footer-social a {
  text-align: center;
  line-height: 31px;
  font-size: 16px;
  color: #fff;
  display: flex;
}

.footer-social li {
  background: none;
  padding: 0;
  font-size: 20px;
}

.footer-sec2 .footer-header {
  margin-bottom: 17px;
  text-transform: uppercase;
}

.contact ul li {
  display: flex;
  align-items: center;
  background: none;
  padding: 0;
}

.contact ul li a {
  font-size: 17px;
  color: #bebebe;
  display: flex;
}

.copy-right-sec {
  font-size: 15px;
  color: #fff;
  padding: 15px 0;
  border-top: 1px solid #fff;
  text-align: center;
  margin-top: 20px;
}

.contact ul li a i {
  width: 20px;
  text-align: center;
  color: #fff;
}

/* Footer */
/* modal */
.modal-dec {
  padding-top: 20px;
  padding-bottom: 20px;
}

.addone-sec {
  margin-bottom: 20px;
}

.qty-input {
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  flex-wrap: nowrap;
}

.qty-input .change-qty2 {
  margin: 0;
  padding: 8px;
  border-radius: 0px;
  font-size: 9px;
  line-height: 27px;
  background: none;
  font-weight: 500;
  color: var(--btn-color) !important;
  border: 0;
}

.cart-close-btn {
  padding: 0 !important;
  position: absolute;
  right: 15px;
  top: 11px;
  z-index: 1;
}

.quantity__input {
  width: 10% !important;
}

.modal-cart-btn {
  padding: 5px 15px;
  background: var(--primary-color-hover);
  margin: 0 0 15px;
  color: #fff;
  font-size: 15px;
}

.modal-image img {
  width: 100%;
  /* height: 100px; */
  object-fit: contain;
  border-radius: 10px;
}

.pro-price {
  border: 1px solid;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.pro-price:hover {
  background: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: #fff;
}

.pro-modal .pro-org-value {
  font-size: 15px;
  margin: 0px 7px;
  text-decoration: line-through;
  color: #ff0000 !important;
}

/* Order */
.order-success-img img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.order-main-sec {
  display: flex;
  justify-content: center;
  text-align: center;
}

.shop-btn {
  border: none;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background: var(--primary-color-hover);
  margin-bottom: 25px;
}

.copy-btn {
  background: var(--primary-color-hover);
  color: #fff;
  border-radius: 0%;
  border: none;
  padding: 10px;
}

.order-title {
  transform-origin: 0;
  animation: jump 1s linear alternate infinite;
}

.order-btn {
  border: 1px solid var(--primary-color-hover);
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  color: var(--primary-color-hover);
  margin-bottom: 25px;
  background: none;
}

@keyframes jump {
  0% {
    transform: translate3d(0, 15px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* Store close Modal */
.close-modal {
  background: none;
  border: none;
}

.close-modal .modal-body .hidden-xs {
  color: #fff;
  font-size: 30px;
  animation: jump 1s linear alternate infinite;
}

.responsive-col2 {
  width: 50%;
}

.position {
  padding: 1.25rem 0;
}

/* cart */
.cart-sec2 {
  padding-top: 60px;
}

.cart-title {
  font-size: 36px;
  color: var(--primary-color);
  padding: 10px 0px;
  font-family: var(--primary-font);
  margin-bottom: 30px;
  line-height: 26px;
  font-weight: 600;
}

.payment-title {
  color: #000;
  padding: 0px 0px 10px;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  border-bottom: 1px solid rgb(0 0 0 / 13%);
}

.select-payment {
  color: #000;
  padding: 0px 0px 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  border-bottom: 1px solid rgb(0 0 0 / 13%);
  margin-bottom: 15px;
}

.item-image img {
  object-fit: contain;
  border-radius: 10px;
  height: 108px;
}

.item-info {
  display: flex;
}

.item-box {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 15px;
}

.sub-total span {
  font-weight: 400;
  font-size: 18px;
}

.sub-total h6 {
  font-weight: 400;
}

.total span {
  font-weight: 700;
  font-size: 18px;
}

.quantity {
  display: flex;
  align-items: center;
  padding: 0;
}

.product-qty {
  display: flex;
  justify-content: space-between;
}

.product-qty .qty {
  align-items: center;
}

.product-qty .change-qty {
  background: var(--primary-color-hover);
  border: none !important;
  color: #fff;
  border-radius: 0 !important;
}

.payment-sec {
  padding: 10px 15px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.yourcart-sec {
  padding: 15px 0px 0px;
  position: relative;
  top: -55px;
}

.sub-total {
  display: flex;
  justify-content: center;
}

.pro-order {
  border: 1px solid;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.delivery-option input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  opacity: 0;
  z-index: -1;
}

.delivery-option {
  position: relative;
  padding: 15px 0px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.delivery-option input[type=radio]:checked~.pro-order {
  color: var(--primary-color-hover);
  transition: 0.3s;
  border: 1px solid #000;
}

.delivery-option input[type=radio]:checked~.pro-order h5 {
  color: var(--primary-color-hover);
}

.delivery-title h3 {
  font-size: 25px;
  line-height: 26px;
  font-weight: 400;
  margin: 20px 0px;
}

.total {
  display: flex;
  justify-content: space-between;
  border-top: 2px dashed #000;
  margin: 15px 0px 0px;
  padding: 15px 0px;
}

.total h6 {
  font-size: 17px;
  font-weight: 700;
  color: #000;
}

.form {
  display: none;
}

.form.active {
  display: block
}

.coupon-bar-item {
  padding: 0.7rem 1rem;
  width: 100%;
  background: var(--primary-color-hover);
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  font-weight: 600;
}

.coupon-bar-item img {
  height: 22px;
  margin-right: 8px;
}

.coupon {
  padding: 13px 13px 13px 13px;
  border-radius: 0.25rem;
}

.coupon-group {
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.coupon-group .apply-btn {
  background: none;
  color: #17b31b;
  border-radius: 0%;
  border: none;
  padding: 13px;
}

.custom-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.custom-control img {
  height: 30px;
}

.promo-wrap input {
  margin: 0px 0px 20px;
}

.card-shadow {
  border: 1px solid #e6e6e6;
}

.customer-title {
  color: #000;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.whatsapp-order .whatsapp-order-btn {
  background: var(--primary-color-hover);
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 13px;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.promo-code {
  border: 1px solid #e6e6e6;
  padding: 12px;
  border-radius: 8px;
}

.promo-code .cuppon-image {
  width: 20px;
  height: 20px;
}

.cuppon-text h5 {
  font-size: 16px;
}

.cuppon-text {
  margin: 0px 5px;
}

.cuppon-text p {
  font-size: 14px;
  font-weight: 300;
}

.promo-code .cuppon-offer {
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  font-weight: 500;
  color: #17b31b;
  cursor: pointer;
}

.available-cuppon .available-title {
  padding: 32px 0px 10px;
}

.available-cuppon .sepreter-line {
  width: 64px;
  height: 4px;
  background: var(--primary-color-hover);
}

.coupon_codewrapper {
  position: relative;
  overflow: hidden;
}

.coupon_codewrapper .coupon_circle1 {
  left: -6px;
  border: 1px solid var(--primary-color-hover);
  height: 12px;
  width: 12px;
  background-color: #fff;
  position: absolute;
  top: 11px;
  border-radius: 50%;
  z-index: 1;
}

.coupon_codewrapper .coupon_circle2 {
  right: -6px;
  border: 1px solid var(--secondary);
  height: 12px;
  width: 12px;
  background-color: var(--white);
  position: absolute;
  top: 11px;
  border-radius: 50%;
  z-index: 1;
}

.coupon_codewrapper .coupon_couponcode {
  padding: 2px 12px;
  border: 1px solid var(--primary-color-hover);
  border-radius: 2px;
  color: #000;
}

.coupon_codewrapper .coupon_text {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.coupon-btn .apply-btn {
  background: none;
  color: #17b31b;
  border-radius: 0%;
  border: none;
  padding: 13px;
  margin: 0;
}

.save-text {
  color: var(--primary-color-hover);
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 10px;
}

.cod-text {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.details-contet {
  list-style: disc !important;
  padding: 0px 0 0 20px;
}

.delivery-title h5 {
  color: #000;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.product-prev-sec .product-rev-wrap .cat-product .card-header h4,
.product-prev-sec .product-rev-wrap .recipe-card .card-header h4,
.product-prev-sec .product-rev-wrap .card-header h4,
.product-prev-sec .product-rev-wrap .cart-pro-head .card-header h4 {
  font-size: 24px;
  color: var(--primary-color-hover);
  padding: 0px;
  margin-bottom: 5px;
  line-height: 26px;
  font-weight: 400;
  text-align: start;
}

.pro-order img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  position: relative;
  top: -20px;
}

.pro-order h5 {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.payment-side {
  position: relative;
  top: -57px;
}

.customer-info {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.customer-info input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  opacity: 0;
  z-index: -1;
}

.payment-check {
  padding: 12px 0px;
  text-align: center;
  margin: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.payment-check p {
  font-size: 14px;
}

.customer-info input[type=radio]:checked~.payment-check {
  border: 1px solid;
}

.store-close {
  position: sticky !important;
  top: 0;
  bottom: 0;
  background: red !important;
  color: #fff;
  text-align: center;
  margin: 0 !important;
  border: none;
  padding: 15px 0px;
  z-index: 9999;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* Theme - 5 */
.them-5img img {
  position: absolute;
  top: -55px;
  width: 120px;
  height: 120px;
  transition: 0.5s;
}


.product-card-img img {
  position: absolute;
  top: -55px;
  width: 120px;
  height: 120px;
  transition: 0.5s;
}

.product-card:hover {
  transform: scale(1.05);
}

.them-5-card-body {
  margin-top: 50px;
}

.product-card-main {
  padding: 100px 0px 0px 0px;
}

.them-5-card {
  padding-top: 70px;
}

.product-card {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition: 0.2s;
}

.like-icon i {
  color: var(--primary-color);
  cursor: pointer;
}

.them-5-card-title {
  font-size: 19px;
  font-weight: 600;
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.them-5-card-subtitle {
  font-size: 13px;
  font-family: var(--font-family);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.them-5-btn-hover {
  font-size: 15px;
  cursor: pointer;
  border: 1px solid black;
}

.them-5-btn-hover:hover {
  background-color: var(--active-menu);
  color: #000 !important;
}

.price {
  color: var(--primary-color-hover);
  font-size: 18px;
  font-weight: 600;
}

.theme-5-false-price {
  font-size: 16px;
  text-decoration: line-through;
  font-weight: 400;
  color: #FF0000 !important;
  line-height: 11px;
}

.them-5-title {
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 500;
  padding: 15px 0px 12px 0px;
  color: #73d100;
}

.scrolling-wrapper {
  display: none;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
  height: auto;
  background-color: var(--primary-color);

}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

/* .card {
  display: inline-block;
  padding: 5px;
} */

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}

.card {
  flex: 0 0 auto;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

/* header cheng */
.drop-icon,
.dropdown-toggle::after {
  content: "";
}

.header-drop-button {
  box-shadow: none !important;
}

.header-dropdown-menu {
  top: 10px !important;
  left: -35px !important;
}

.required {
  color: red;
}

/* my-orders start */
.warning-icon i {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 193, 7, .3);
  border-radius: 50%;
  font-size: 25px;
}

.success-icon i {
  height: 50px;
  width: 50px;
  background-color: rgba(3, 161, 3, .3);
  border-radius: 50%;
  font-size: 25px;
}

.danger-icon i {
  height: 50px;
  width: 50px;
  background-color: rgba(220, 53, 69, .3);
  border-radius: 50%;
  font-size: 25px;
}

.text-start-pro {
  color: black;
  font-family: var(--font-family-poppins);
  font-weight: 600;
}

.status-text-color-3 {
  color: #DC3545;
}

.status-text-color-2 {
  color: #007a;
}

/* my-orders end */

.active-menu {
  background-color: var(--primary-color-hover) !important;
  color: white !important;
}

.active-menu a {
  color: white !important;
  font-family: var(--font-family);
  font-weight: 500;
}

/* kishor add css */
.eye-icon-box {
  width: 35px !important;
  height: 35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link {
  color: var(--primary-color-hover) !important;
}

.preparing-box-active {
  background-color: #ffc107;
  color: white !important;
  border: 1px solid black !important;
}

.preparing-box-active p {
  color: white !important;
}

.completed-box-active {
  background-color: #28a745;
  color: white !important;
  border: 1px solid black !important;
}

.completed-box-active p {
  color: white !important;
}

.rejected-box-active {
  background-color: #dc3545;
  color: white !important;
  border: 1px solid black !important;
}

.rejected-box-active p {
  color: white !important;
}

.feature-box img {
  transition: 0.2s linear;
}

.feature-box img:hover {
  transform: scale(1.1);
}

/* card-them 1 hover start */

.pro-box:hover {
  transform: scale(1.05);
}

/* card-them 1 hover end */
/* card-them 2 hover start */
.box-border {
  transition: 0.2s linear;
}

.box-border:hover {
  transform: scale(1.02);
}

/* card-them 2 hover end */

/* card-them 2 hover start */
.product-card-box:hover {
  transform: scale(1.05);
}

/* card-them 2 hover end */
/* footer-input start */
.footer-input {
  padding: 10px;
  border-radius: 23px;
}

.subscribe-button {
  background-color: var(--btn-color);
  color: #fff;
  height: 38px;
  border-radius: 23px;
  cursor: pointer;
}

.footer-inpu,
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none !important;
}

.input-box-main {
  border-radius: 30px;
}

.blog-sec .card-text {
  font-size: 16px;
}

.blog-sec .card-body p {
  font-size: 22px;
  font-weight: 600;
}

.blog-card-border {
  border-radius: 15px;
}

.box-shadow {
  box-shadow: 0 0px 10px rgb(182 186 203 / 30%);
}

.icon-color {
  color: var(--primary-color-hover);
}

/* footer-input end */

/*===========================================================
================== EXTRA KISHOR START =======================
============================================================*/
.free-content h4 {
  font-size: 22px;
}

.footer-circle-icon {
  padding-left: 12px;
}

/* footer-header-text */
.footer-text-start {
  text-align: start;
}

.form-subtitle {
  font-weight: 400 !important;
}

.blog-titel {
  font-size: 36px;
  color: var(--primary-color);
  font-family: var(--primary-font);
  margin-bottom: 30px;
  line-height: 26px;
  font-weight: 600;
}

.cart-button-1 {
  padding: 5px 50px !important;
}

.cart-promocodemodellable {
  border: 1px solid var(--primary-color-hover);
  background-color: var(--active-menu);
  color: var(--primary-color) !important;
}

.promocodemodellable-titel {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--primary-font);
  text-align: start;
  margin: auto;
}

.promocodemodellable-subtitel {
  font-size: 14px;
  text-align: start;
  margin: auto;
  width: 100%;
  margin-top: 10px;
}

.language-dropdown {
  box-shadow: none !important;
  border: none;
}

.language-dropdown-text {
  padding: 0px 10px 0px 10px !important;
  background-color: #fff !important;
  border: 1px solid var(--primary-color);

}

.dropdown-link {
  color: var(--primary-color) !important;
  font-weight: 400;
  font-family: var(--primary-font);

}
/* theme-3 */
.theme-3-titel {
  text-align: start;
}
/* theme-4 */
.theme-4-title{
  text-align: start;
}
/* theme-5 */
.theme-5-title{
  text-align: start;
}
/* dekstop-tablet-mobile-language-dropdown */
.dekstop-tablet-mobile-language-dropdown{
  top: 5px !important;
}

/*===========================================================
=================== EXTRA KISHOR END ========================
============================================================*/