@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

  --bs-blue: #0d6efd;

  --bs-indigo: #6610f2;

  --bs-purple: #6f42c1;

  --bs-pink: #d63384;

  --bs-red: #dc3545;

  --bs-orange: #fd7e14;

  --bs-yellow: #ffc107;

  --bs-green: #198754;

  --bs-teal: #20c997;

  --bs-cyan: #0dcaf0;

  --bs-black: #000;

  --bs-white: #fff;

  --bs-gray: #6c757d;

  --bs-gray-dark: #343a40;

  --bs-gray-100: #f8f9fa;

  --bs-gray-200: #e9ecef;

  --bs-gray-300: #dee2e6;

  --bs-gray-400: #ced4da;

  --bs-gray-500: #adb5bd;

  --bs-gray-600: #6c757d;

  --bs-gray-700: #495057;

  --bs-gray-800: #343a40;

  --bs-gray-900: #212529;

  --bs-primary: #01112B;

  --bs-secondary: #F15A1F;

  --bs-success: #198754;

  --bs-info: #0dcaf0;

  --bs-warning: #ffc107;

  --bs-danger: #dc3545;

  --bs-light: #f8f9fa;

  --bs-dark: #212529;

  --bs-primary-rgb: 45, 41, 66;

  --bs-secondary-rgb: 241, 90, 31;

  --bs-success-rgb: 25, 135, 84;

  --bs-info-rgb: 13, 202, 240;

  --bs-warning-rgb: 255, 193, 7;

  --bs-danger-rgb: 220, 53, 69;

  --bs-light-rgb: 248, 249, 250;

  --bs-dark-rgb: 33, 37, 41;

  --bs-white-rgb: 255, 255, 255;

  --bs-black-rgb: 0, 0, 0;

  --bs-body-color-rgb: 33, 37, 41;

  --bs-body-bg-rgb: 255, 255, 255;

  --bs-font-sans-serif: 'Poppins', sans-serif;

  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

  --bs-body-font-family: var(--bs-font-sans-serif);

  --bs-body-font-size: 1rem;

  --bs-body-font-weight: 400;

  --bs-body-line-height: 1.5;

  --bs-body-color: #495057;

  --bs-body-bg: #f8f8fb;

  --bs-border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);

  --bs-border-width: 1px;

  --bs-border-style: solid;

  --bs-border-color: #dee2e6;

  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);

  --bs-border-radius: 0.375rem;

  --bs-border-radius-sm: 0.25rem;

  --bs-border-radius-lg: 0.5rem;

  --bs-border-radius-xl: 1rem;

  --bs-border-radius-2xl: 2rem;

  --bs-border-radius-pill: 50rem;

  --bs-link-color: var(--bs-primary);

  --bs-link-hover-color: #374366;

  --bs-code-color: #d63384;

  --bs-highlight-bg: #fff3cd;

  --bs-box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);

}

body {

  margin: 0;

  font-family: var(--bs-body-font-family);

  font-size: var(--bs-body-font-size);

  font-weight: var(--bs-body-font-weight);

  line-height: var(--bs-body-line-height);

  color: var(--bs-body-color);

  text-align: var(--bs-body-text-align);

  background-color: var(--bs-body-bg);

  -webkit-text-size-adjust: 100%;

  -webkit-tap-highlight-color: transparent
}

.direction-ltr {

  direction: ltr;

}

.direction-rtl {

  direction: rtl;

}

.justify-items-end {

  justify-items: end !important;

}

.justify-items-center {

  justify-items: center !important;

}

.fs-7 {

  font-size: 14px !important;

}

.fs-8 {

  font-size: 12px !important;

}

.fw-600 {

  font-weight: 600 !important;

}

.fw-500 {

  font-weight: 500 !important;

}

.w-100vw {

  width: 100vw;

}

.h-100vh {

  height: 100vh;

}

.h-fit-content {

  height: fit-content;

}

.box-shadow {

  box-shadow: 0 6px 30px rgb(182 186 203 / 30%);

}

.d-content {

  display: contents;

}

.object-fit-cover {

  object-fit: cover;

  object-position: center;

}

.object-fit-contain {

  object-fit: contain;

}

h1,

h2,

h3,

h4,

h5,

h6,

p {

  margin: 0;

}

.btn-rounded {

  border-radius: 30px;

}

.form-group,

.form-check {

  margin-bottom: 1rem;

}

*:focus {

  outline: none !important;

  box-shadow: none !important;

}

input::placeholder {

  font-size: 14px;

}

ul {

  list-style: outside none none;

  margin: 0;

  padding: 0;

}

li {

  list-style: none;

}

.btn-secondary:hover {

  background-color: var(--bs-secondary);

  border-color: var(--bs-secondary);

}

.btn-primary:hover {

  background-color: var(--bs-primary);

  border-color: var(--bs-primary);

}

input::-webkit-outer-spin-button,

input::-webkit-inner-spin-button {

  -webkit-appearance: none;

  margin: 0;

}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #f15a1f20 !important;
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}

.form-switch-success .form-check-input:checked {

  background-color: var(--bs-success);

  border-color: var(--bs-success);

}

.form-check-input-secondary:checked {

  background-color: var(--bs-secondary);

  border-color: var(--bs-secondary);

}

.cursor-pointer {

  cursor: pointer;

}

.dn {

  display: none;

}

.hw-70 {

  width: 70px;

  height: 70px;

}

.overflow-auto {

  overflow: auto;

}

/* Preloader */

#preloader {

  position: fixed;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background-color: #fff;

  z-index: 9999
}

#status {

  width: 40px;

  height: 40px;

  position: absolute;

  left: 50%;

  top: 50%;

  margin: -20px 0 0 -20px
}

.spinner-chase {

  margin: 0 auto;

  width: 40px;

  height: 40px;

  position: relative;

  -webkit-animation: spinner-chase 2.5s infinite linear both;

  animation: spinner-chase 2.5s infinite linear both
}

.chase-dot {

  width: 100%;

  height: 100%;

  position: absolute;

  left: 0;

  top: 0;

  -webkit-animation: chase-dot 2s infinite ease-in-out both;

  animation: chase-dot 2s infinite ease-in-out both
}

.chase-dot:before {

  content: "";

  display: block;

  width: 25%;

  height: 25%;

  background-color: var(--bs-primary);

  border-radius: 100%;

  -webkit-animation: chase-dot-before 2s infinite ease-in-out both;

  animation: chase-dot-before 2s infinite ease-in-out both
}

.chase-dot:nth-child(1) {

  -webkit-animation-delay: -1.1s;

  animation-delay: -1.1s
}

.chase-dot:nth-child(1):before {

  -webkit-animation-delay: -1.1s;

  animation-delay: -1.1s
}

.chase-dot:nth-child(2) {

  -webkit-animation-delay: -1s;

  animation-delay: -1s
}

.chase-dot:nth-child(2):before {

  -webkit-animation-delay: -1s;

  animation-delay: -1s
}

.chase-dot:nth-child(3) {

  -webkit-animation-delay: -.9s;

  animation-delay: -.9s
}

.chase-dot:nth-child(3):before {

  -webkit-animation-delay: -.9s;

  animation-delay: -.9s
}

.chase-dot:nth-child(4) {

  -webkit-animation-delay: -.8s;

  animation-delay: -.8s
}

.chase-dot:nth-child(4):before {

  -webkit-animation-delay: -.8s;

  animation-delay: -.8s
}

.chase-dot:nth-child(5) {

  -webkit-animation-delay: -.7s;

  animation-delay: -.7s
}

.chase-dot:nth-child(5):before {

  -webkit-animation-delay: -.7s;

  animation-delay: -.7s
}

.chase-dot:nth-child(6) {

  -webkit-animation-delay: -.6s;

  animation-delay: -.6s
}

.chase-dot:nth-child(6):before {

  -webkit-animation-delay: -.6s;

  animation-delay: -.6s
}

@-webkit-keyframes spinner-chase {

  100% {

    -webkit-transform: rotate(360deg);

    transform: rotate(360deg)
  }

}

@keyframes spinner-chase {

  100% {

    -webkit-transform: rotate(360deg);

    transform: rotate(360deg)
  }

}

@-webkit-keyframes chase-dot {

  100%,

  80% {

    -webkit-transform: rotate(360deg);

    transform: rotate(360deg)
  }

}

@keyframes chase-dot {

  100%,

  80% {

    -webkit-transform: rotate(360deg);

    transform: rotate(360deg)
  }

}

@-webkit-keyframes chase-dot-before {

  50% {

    -webkit-transform: scale(.4);

    transform: scale(.4)
  }

  0%,

  100% {

    -webkit-transform: scale(1);

    transform: scale(1)
  }

}

@keyframes chase-dot-before {

  50% {

    -webkit-transform: scale(.4);

    transform: scale(.4)
  }

  0%,

  100% {

    -webkit-transform: scale(1);

    transform: scale(1)
  }

}

/* Auth Pages */

.bg-primary-light {

  background-color: rgba(var(--bs-secondary-rgb), 0.25);

}

.social-list-item {

  height: 2rem;

  width: 2rem;

  line-height: calc(2rem - 0px);

  display: block;

  border-radius: 50%;

  color: var(--bs-white);

  text-align: center;

  -webkit-transition: all .4s;

  transition: all .4s;

}

.bg-facebook {

  background-color: #1773EA;

}

.bg-google {

  background-color: #d24639;

}

/* Header */

.page-topbar {

  position: sticky;

  top: 0;

  right: 0;

  left: 0;

  z-index: 1030;

  background-color: var(--bs-white);

  box-shadow: var(--bs-box-shadow);

}

.page-topbar .navbar-header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 5px 0;

}

.page-topbar .navbar-header .navbar-header-logo {

  background-color: var(--bs-primary);

  padding: 0 1.5rem;

  text-align: center;

  width: 250px;

}

.page-topbar .navbar-header .navbar-header-logo a {

  line-height: 70px;

  color: var(--bs-white);

}

.page-topbar .navbar-header .header-item {

  position: relative;

  cursor: pointer;

  display: inline-block;

  overflow: hidden;

  border: 0;

  color: #555b6d;

}

.page-topbar .navbar-header .header-item img {

  width: 36px;

  height: 36px;

  border: var(--bs-border);

  border-radius: 50%;

  object-fit: cover;

  object-position: center;

}

/* Sidebar */

.sidebar {

  background-color: var(--bs-primary);

  width: 16.5rem;

  z-index: 1050;

  position: fixed;

  bottom: 0;

  top: 0;

  margin-top: 0;

  height: 100vh;

  padding: 0.8rem;

}

.sidebar .navbar-nav .nav-item .nav-link {

  color: rgba(var(--bs-white-rgb), 0.8);

  padding-left: 10px;

  padding-right: 10px;

  border-radius: 10px;

}

.sidebar .navbar-nav .nav-item .nav-link:hover {

  background: linear-gradient(141.55deg, var(--bs-white) 3.46%, var(--bs-white) 99.86%), var(--bs-white);

  color: var(--bs-primary);

  transition: .3s ease-in-out;

}

.sidebar .navbar-nav .nav-item .nav-link.active {

  background: linear-gradient(141.55deg, var(--bs-white) 3.46%, var(--bs-white) 99.86%), var(--bs-white);

  color: var(--bs-primary);

}

/* Default */

.main-content {

  margin-left: 16.5rem;

}

.page-content {

  padding: calc(0px + 24px) calc(36px / 2) 60px calc(36px / 2);

}

/* Dashboard page */

.dashboard-card {

  display: flex;

  justify-content: space-between;

  align-items: center;

}

.dashboard-card .card-icon {

  width: 3rem;

  height: 3rem;

  background-color: var(--bs-secondary);

  border-radius: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

  color: var(--bs-white);

}

/* User Page */

.search-box {

  display: inline-block;

  padding: 0 10px;

}

.search-box .form-control {

  border-radius: 30px;

  padding-left: 40px;

}

.search-box .search-icon {

  font-size: 16px;

  position: absolute;

  left: 13px;

  top: 0;

  line-height: 38px;

}

/* Pricing Plan page*/

.theme-selection li {

  display: inline-block;

  margin: 10px 5px;

  width: 165px;

}

.theme-selection li input[type=checkbox],

.theme-selection li input[type=radio] {

  display: none;

}

.theme-selection li label {

  padding: 5px;

  display: block;

  position: relative;

  cursor: pointer;

  width: 100%;

  margin: auto;

  border-radius: 5px;

}

.theme-selection li input:checked+label::before {

  content: "✓";

  transform: scale(1);

  z-index: 2;

}

.theme-selection li label::before {

  font-size: 15px;

  background-color: var(--bs-white);

  color: var(--bs-primary);

  content: "";

  display: block;

  border-radius: 50%;

  border: 1px solid var(--bs-primary);

  position: absolute;

  top: -6px;

  right: -6px;

  width: 25px;

  height: 25px;

  line-height: 25px;

  text-align: center;

  transition-duration: 0.4s;

  transform: scale(0);

}

.theme-selection li input:checked+label img {

  z-index: -1;

  /* transition: 0.5s all ease-in-out; */

  border: 2px dotted var(--bs-primary);

}

.theme-selection li label:hover img {

  object-position: bottom;

}

.theme-selection li label img {

  width: 100%;

  transition-duration: 0.2s;

  transform-origin: 50% 50%;

  object-fit: cover;

  object-position: top;

  height: 300px;

  transition: 2s all ease-in-out;

}

.available-btn {

  position: absolute;

  left: 5%;

  right: 5%;

  bottom: 5%;

}

/* Setting Page */

.settings .card-sticky-top {

  position: sticky;

  top: 80px;

  z-index: 1020;

}

.settings .list-item-secondary.active,

.settings .list-item-secondary.active a {

  z-index: 2;

  color: var(--bs-white);

  background-color: var(--bs-secondary);

  border-color: var(--bs-secondary);

}

.settings .list-group-item .tab:hover,

.settings .list-group-item .tab.active {

  color: var(--bs-white);

}

.payments .card .cod-card,

.payments .card .wallet-card {

  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);

  display: flex;

  justify-content: space-between;

}

/* Pricing plan checkout page */

.stripe-form #card-element .__PrivateStripeElement iframe {

  height: 40px !important;

  width: 100% !important;

  border: var(--bs-card-border-width) solid var(--bs-card-border-color);

  border-radius: var(--bs-card-border-radius);

  display: block;

  padding: 10px;

  margin-bottom: 16px;

}

/* Business Page */

.contact-info-modal {

  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(6.25rem, 1fr));

}

.contact-info-item {

  border: var(--bs-border);

  border-radius: 5px;

  cursor: pointer;

  display: flex;

  align-items: center;

  flex-direction: column;

  margin: 5px;

  outline: none !important;

  overflow: visible;

  padding: 1rem;

  text-align: center;

  transition: .3s;

  width: auto;

  box-shadow: var(--bs-box-shadow);

}

.contact-info-modal .contact-info-item:hover {

  background-color: #e6ecfd;

}

.contact-info-modal .contact-info-item i {

  font-size: 22px;

  margin: 5px 0;

}

#service_repeater .img-overlay,

#services_card .img-overlay,

#testimonials_info .img-overlay,

#testimonial_repeater .img-overlay {

  position: absolute;

  top: 2%;

  right: 2%;

}

#reorder_section ul.list-group li.list-group-item {

  cursor: move;

}

/* Switch On/Off */

.checkbox-switch {
  display: none;
}

.switch {
  align-items: center;
  background-color: gray;
  border-radius: 500px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: space-between;
  position: relative;
  user-select: none;
  width: 60px;
}

.checkbox-switch:checked~.switch {
  background-color: var(--bs-primary);
}

.checkbox-switch:not(:checked)~.switch {
  background-color: gray;
}

.switch__left,
.switch__right {
  color: white;
  font-size: small;
  text-transform: uppercase;
}

.checkbox-switch:checked~.switch .switch__left {
  visibility: hidden;
}

.checkbox-switch:not(:checked)~.switch .switch__right {
  visibility: hidden;
}

.switch__circle {
  height: 30px;
  padding: 5px;
  position: absolute;
  transition: all 0.1s linear;
  width: 30px;
}

.switch__circle-rtl {
  height: 30px;
  padding: 5px;
  position: absolute;
  transition: all 0.1s linear;
  width: 30px;
}

.checkbox-switch:checked~.switch .switch__circle {
  left: 0;
  right: calc(100% - 30px);
}

.checkbox-switch:checked~.switch .switch__circle-rtl {
  left: calc(100% - 30px);
  right: 0;
}

.checkbox-switch:not(:checked)~.switch .switch__circle {
  left: calc(100% - 30px);
  right: 0;
}

.checkbox-switch:not(:checked)~.switch .switch__circle-rtl {
  right: calc(100% - 30px);
  left: 0;
}

.switch__circle-inner {
  background-color: white;
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
}

.hw-50 {

  width: 50px;

  height: 50px;

}

.service-image {

  height: 150px;

}

/* extra....apexa */

/* FOR SIDEBAR -- START */

.sidebar .navbar-nav {

  height: 100vh;

  overflow-y: auto;

  padding-bottom: 100px;

}

.sidebar .navbar-nav::-webkit-scrollbar {

  display: none;

}

.sidebar .navbar-nav .nav-item .nav-link:hover {

  background: rgba(255, 255, 255, 1) !important;

  color: var(--bs-primary);

  transition: .3s ease-in-out;

}

.sidebar .navbar-nav .nav-item .nav-link.active,

.sidebar .navbar-nav .multimenu .active-main {

  background: rgba(255, 255, 255, 1) !important;

  color: var(--bs-primary);

}

.sidebar .navbar-nav .nav-item ul li a {

  border-bottom: 1px solid transparent;

  color: rgba(var(--bs-white-rgb), 0.8);

  background: transparent !important;

}

.sidebar .navbar-nav .nav-item .nav-link i {

  -webkit-box-flex: 0;

  flex: 0 0 1.5rem;

  -ms-flex: 0 0 1.5rem;

}

/* FOR SIDEBAR -- START */

/* -----------------------------------------------------------------------------

------------------------- EXTRA-CSS-BY-RAHUL ----  START -----------------------

-------------------------------------------------------------------------------- */

.text-underline {

  text-decoration: underline;

}

.hw-20 {

  height: 20px;

  width: 20px;

}

/* FOR_SIDEBAR_START */

.sidebar .navbar-nav .nav-item .multimenu-menu-indicator i {

  -webkit-box-flex: 0;

  flex: 0 0 1rem;

  -ms-flex: 0 0 1rem;

  font-size: 10px;

}

.sidebar .navbar-nav .nav-item .nav-link[aria-expanded=true]:after {

  transform: rotate(-180deg);

}

.sidebar .navbar-nav .nav-item .nav-link:after {

  transition: all .3s;

}

/* FOR_SIDEBAR_END */

/* tracking-bar-start */

.progress-barrr {

  width: 100%;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));

}

.progress-step {

  text-align: center;

  position: relative;

  z-index: 1;

}

.progress-step:before,

.progress-step:after {

  background-color: var(--bs-secondary);

  content: "";

  height: 2px;

  position: absolute;

  z-index: -1;

  top: 15px;

}

.progress-step:after {

  left: 50%;

  width: 100%;

}

.progress-step:last-of-type.is-active:after {

  background-color: var(--bs-secondary);

}

.progress-step:last-of-type:after {

  left: 50%;

  width: 50%;

}

.progress-step .step-count {

  background-color: #fff;

  height: 35px;

  width: 35px;

  margin: 0 auto;

  border-radius: 50%;

  color: var(--bs-secondary);

  line-height: 35px;

  z-index: 100;

  border: 1px solid var(--bs-secondary);

  font-size: 1rem;

  font-weight: 500;

}

.progress-step.is-active~.progress-step:not(.is-active) .step-count {

  background-color: #fff;

  height: 35px;

  width: 35px;

  margin: 0 auto;

  border-radius: 50%;

  color: gray;

  line-height: 35px;

  z-index: 100;

  border: 1px solid gray;

  font-size: 1rem;

  font-weight: 500;

}

.progress-step.is-active .step-description {

  font-weight: 500;

}

.progress-step.is-active:after {

  background-color: gray;

}

.progress-step.is-active~.progress-step .step-count {

  background-color: #fff;

}

.progress-step.is-active~.progress-step:after {

  background-color: gray;

}

.step-description {

  font-size: 0.8rem;

}

@media screen and (min-width: 640px) {

  .progress-step:first-of-type:before {

    right: 50%;

    width: 50%;

  }

}

@media screen and (max-width: 640px) {

  .progress-step:first-of-type:before,

  .progress-step:last-of-type:after {

    display: none !important;

  }

}

/* tracking-bar-end */

/* FOR_ERRORS_PAGE_START */

.error-content {

  font-size: 30px;

  font-weight: bold;

}

@media (max-width:767px) {

  .error-sec-order {

    order: 2;

  }

}

/* FOR_ERRORS_PAGE_END */

/* -----------------------------------------------------------------------------

------------------------- EXTRA-CSS-BY-RAHUL ----  END -------------------------

-------------------------------------------------------------------------------- */



/* New login form */

/* New login form  start */

.login-page-img {

  width: 100%;

}



.login-form-bg-color {

  background-color: white;

}



.login-form-bottom-icon {

  gap: 5px;

}



.login-with-bottom-title {

  font-family: var(--bs-body-font-family);

  font-weight: 500;

}



.icon-btn-facebook {

  background-color: #3d5a9e !important;

  border: none !important;

}



.icon-btn-twitter {

  background-color: #1ba1f4 !important;

  border: none !important;

}



.icon-btn-google {

  background-color: #d82433 !important;

  border: none !important;

}





.dropdown-hover a:hover {

  background-color: white !important;

}



.login-imag {

  width: 120px;

  height: 120px;

}

/* New login form  End */


.dropdown-menu-language {
  position: absolute !important;
  left: -60px !important;
  top: 15px !important;
  box-shadow: 0px 0px 13px -3px rgb(0 0 0 / 10%);
}

/* admin rtl css */
.main-content-rtl {
  margin-right: 16.5rem;
}

.dropdown-toggle-rtl {
  white-space: nowrap;
}

.dropdown-toggle-rtl::after {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.accordion-button-rtl {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

.accordion-button-rtl::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button-rtl:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #f15a1f20 !important;
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}

.input-group-rtl {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.input-group-icon-rtl {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.breadcrumb-rtl::before {
  float: right !important;
  padding-left: var(--bs-breadcrumb-item-padding-x) !important;
  padding-right: var(--bs-breadcrumb-item-padding-x) !important;
  color: var(--bs-breadcrumb-divider-color) !important;
  content: var(--bs-breadcrumb-divider, "/") !important;
}

div.dataTables_wrapper div.dataTables_filter input {

  margin-right: 5px !important;
}

/* EXTRA-CSS-BY-KISHOR START*/

.drop-menu {
  top: 7px !important;
}

/* EXTRA-CSS-BY-KISHOR END*/